/* ----- title -------- */
.title {
  font-family: Merriweather, serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
}
@media (max-width: 1000px) {
  .title {
    font-size: calc(24px + (30 - 24) * ((100vw - 320px) / (1000 - 320)));
  }
}
/* ----- button -------- */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 16px;
  min-height: 34px;
  min-width: 90px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--greys-light-grey, #606b74);
  background-color: var(--greys-white, #fff);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover,
.button:focus {
  background-color: #d6d6d6;
}
.button:active {
  transform: scale(0.95);
}

/* ----- horizontal underline hover -------- */
@media (any-hover: hover) {
  .u-hover {
    position: relative;
  }
  .u-hover::after {
    content: " ";
    position: absolute;
    display: block;
    margin-top: 3px;
    background-color: var(--greys-white);
    height: 2px;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  .u-hover:hover::after,
  .u-hover:active::after {
    width: 100%;
  }
}

/* ----- vertical underline hover -------- */
@media (any-hover: hover) {
  .v-hover {
    position: relative;
  }
  .v-hover::after {
    content: " ";
    position: absolute;
    display: block;
    margin-left: -10px;
    background-color: var(--greys-white);
    width: 2px;
    height: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: height 0.3s ease;
  }
  .v-hover:hover::after,
  .v-hover:active::after {
    height: 100%;
  }
}

/* ----- popups -------- */
.popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 109, 112, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.5s ease;
}
.popup__content {
  max-width: 800px;
  padding: 15px;
  position: relative;
  transition: all 0.5s ease;
  opacity: 0;
  background-color: var(--color-dark-green);
  border-radius: 8px;
  box-shadow: 4px 6px 32px 0px rgba(0, 0, 0, 0.5);
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 18px;
  color: var(--greys-white);
}
.popup__title {
  font-size: 30px;
  color: var(--greys-white);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.popup__video {
}
.popup__image img {
  max-width: 100%;
  vertical-align: top;
}
