.footer {
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: var(--greys-light-grey);
}

.footer__wrapper {
  max-width: 930px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.footer__email {
  justify-self: start;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}
.footer__email a {
  color: var(--greys-white, #ffffff);
}
.footer__logo {
  margin-top: -6px;
}
.footer__social {
  display: none;
}
.footer__other {
  justify-self: end;
  display: flex;
  gap: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}
.footer__cookies {
  color: var(--greys-white, #ffffff);
}
.footer__privacy {
  color: var(--greys-white, #ffffff);
}
@media (max-width: 767.98px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer__email {
    font-size: 14px;
  }
  .footer__other {
    justify-self: start;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 50px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: start;
  }
  .footer__email {
    grid-area: 2 / 1 / 3 / 2;
  }
  .footer__logo {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 0;
  }
  .footer__social {
    display: block;
    justify-self: center;
    grid-area: 3 / 1 / 4 / 3;
  }
  .footer__other {
    margin-top: 20px;
    gap: 30px;
    justify-self: start;
    align-self: start;
    grid-area: 1 / 2 / 4 / 3;
    flex-direction: column;
  }
}
