/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: > 0.4% and not dead
*/

/*======= Fonts =======*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Rubik:wght@400;500&display=swap");

/*======= icon-Fonts =======*/
@import url("../fonts/iconsfont.css");

:root {
  /* colors */
  --greys-light-grey: #646d70;
  --greys-white: #ffffff;
  --color-dark-green: #222f33;
}

/*======= Reset styles =======*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*======= Common styles =======*/
/* ----- title -------- */
.title {
  font-family: Merriweather, serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
}
@media (max-width: 1000px) {
  .title {
    font-size: calc(24px + (30 - 24) * ((100vw - 320px) / (1000 - 320)));
  }
}
/* ----- button -------- */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 16px;
  min-height: 34px;
  min-width: 90px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--greys-light-grey, #606b74);
  background-color: var(--greys-white, #fff);
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover,
.button:focus {
  background-color: #d6d6d6;
}
.button:active {
  transform: scale(0.95);
}

/* ----- horizontal underline hover -------- */
@media (any-hover: hover) {
  .u-hover {
    position: relative;
  }
  .u-hover::after {
    content: " ";
    position: absolute;
    display: block;
    margin-top: 3px;
    background-color: var(--greys-white);
    height: 2px;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  .u-hover:hover::after,
  .u-hover:active::after {
    width: 100%;
  }
}

/* ----- vertical underline hover -------- */
@media (any-hover: hover) {
  .v-hover {
    position: relative;
  }
  .v-hover::after {
    content: " ";
    position: absolute;
    display: block;
    margin-left: -10px;
    background-color: var(--greys-white);
    width: 2px;
    height: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: height 0.3s ease;
  }
  .v-hover:hover::after,
  .v-hover:active::after {
    height: 100%;
  }
}

/* ----- popups -------- */
.popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 109, 112, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.5s ease;
}
.popup__content {
  width: 50vw;
  padding: 15px;
  position: relative;
  transition: all 0.5s ease;
  opacity: 0;
  background-color: var(--color-dark-green);
  border-radius: 8px;
  box-shadow: 4px 6px 32px 0px rgba(0, 0, 0, 0.5);
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
@media (max-width: 767.98px) {
  .popup__content {
    width: 100vw;
  }
}
@media (min-width: 2560px) {
  .popup__content {
    width: 30vw;
  }
}
.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 18px;
  color: var(--greys-white);
}
.popup__title {
  font-size: 30px;
  color: var(--greys-white);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.popup__video {
  aspect-ratio: 16/9;
  position: relative;
}
.popup__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*======= Header styles =======*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 60px;
}
.header__wrapper {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
}
.header__padding {
  background-color: rgba(100, 109, 112, 0);
  transition: all 0.5s ease 0s;
}
.header--scrolled .header__padding {
  background-color: rgba(100, 109, 112, 0.85);
}
@media (any-hover: hover) {
  .header--scrolled .header__padding:hover {
    background-color: rgba(100, 109, 112, 0.95);
  }
}
@media (any-hover: none) {
  .header--scrolled .header__padding {
    background-color: rgba(100, 109, 112, 0.95);
  }
}
.header__container {
  display: flex;
  align-items: center;
  column-gap: 32px;
  min-height: 108px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: min-height 0.5s ease 0s;
}
.header--scrolled .header__container {
  min-height: 60px;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 78px;
  }
  .header--scrolled .header__container {
    min-height: 56px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu {
}
.menu__body {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 40px;
  row-gap: 10px;
}
.menu__item {
}
.menu__link {
  color: var(--greys-white);
  font-weight: 500;
  line-height: 1.2;
}
.header__button {
  position: relative;
  z-index: 5;
}
.header__language {
  position: relative;
  z-index: 5;
  flex: 0 0 34px;
  height: 34px;
  border-radius: 4px;
  overflow: hidden;
  color: var(--greys-light-grey, #606b74);
  background-color: var(--greys-white, #fff);
  transition: background-color 0.3s ease;
}
.header__language:hover {
  background-color: #d6d6d6;
}
.header__language select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: Poppins, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  color: var(--greys-light-grey, #606b74);
}
.header__language select option {
  font-size: 16px;
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .header__container {
    column-gap: 16px;
  }
  .header__menu {
    justify-content: center;
  }
  .menu__list {
    column-gap: 16px;
  }
}
@media (max-width: 600px) {
  /* Hamburger menu button (is displayed on resolutions less than 768px) */
  .icon-menu {
    position: relative;
    z-index: 5;
    display: block;
    width: 26px;
    height: 24px;
    cursor: pointer;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    right: 0;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--greys-white, #fff);
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    width: 85%;
    top: 50%;
    transform: translate(0, -50%);
  }
  .icon-menu._active span {
    transform: translate(500%, -50%);
  }
  .icon-menu._active::before {
    content: "";
    width: 32px;
    transform: rotate(45deg) translate(9px, 6px);
  }
  .icon-menu._active::after {
    content: "";
    width: 32px;
    transform: rotate(-45deg) translate(9px, -6px);
  }
  /* Hamburger menu body */
  .menu__body {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding-top: 100px;
    padding-right: 50px;
    background: linear-gradient(
      to right,
      rgba(100, 109, 112, 0.9) 0%,
      rgba(100, 109, 112, 1) 25%,
      rgba(100, 109, 112, 1) 100%
    );
    transition: right 0.3s ease;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }
  /* Additional background for active scrolled menu */
  .menu__body._active::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    min-height: 78px;
    top: 0;
    left: 0;

    opacity: 1;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    min-height: 78px;
    top: 0;
    left: 0;
    background-color: rgba(100, 109, 112, 0);
  }
  .menu__body._active::before {
    background-color: rgba(100, 109, 112, 1);
    transition: background-color 0.3s ease 0.3s;
  }

  .header--scrolled .menu__body._active::before {
    min-height: 56px;
  }
  .header__container {
    column-gap: 25px;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.5em;
  }
  .menu__link {
    font-size: 1.25rem;
  }
}
@media (max-width: 479.98px) {
  .header__container {
    column-gap: 18px;
  }
  .header__button {
    margin-left: -15px;
  }
}
@media (max-width: 374.98px) {
  .header__container {
    column-gap: 14px;
  }
  .header__logo {
    margin-left: -10px;
    transform: scale(0.9);
  }
  .header__button {
    margin-left: -20px;
    padding: 8px 10px;
    min-width: 50px;
  }
}

/*======= Footer styles =======*/
.footer {
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: var(--greys-light-grey);
}

.footer__wrapper {
  max-width: 930px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.footer__email {
  justify-self: start;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}
.footer__email a {
  color: var(--greys-white, #ffffff);
}
.footer__logo {
  margin-top: -6px;
}
.footer__social {
  display: none;
}
.footer__other {
  justify-self: end;
  display: flex;
  gap: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}
.footer__cookies {
  color: var(--greys-white, #ffffff);
}
.footer__privacy {
  color: var(--greys-white, #ffffff);
}
@media (max-width: 767.98px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer__email {
    font-size: 14px;
  }
  .footer__other {
    justify-self: start;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 50px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: start;
  }
  .footer__email {
    grid-area: 2 / 1 / 3 / 2;
  }
  .footer__logo {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 0;
  }
  .footer__social {
    display: block;
    justify-self: center;
    grid-area: 3 / 1 / 4 / 3;
  }
  .footer__other {
    margin-top: 20px;
    gap: 30px;
    justify-self: start;
    align-self: start;
    grid-area: 1 / 2 / 4 / 3;
    flex-direction: column;
  }
}

/*--------------------*/
body {
  font-family: Poppins, Tahoma, sans-serif;
  font-size: 12px;
  color: var(--greys-white, #ffffff);
  font-family: Rubik, sans-serif;
}
/* Blocks body scrolling when hamburger menu is active */
.body--lock {
  overflow: hidden;
}
/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex: 1 1 auto;
}
[class*="__container"] {
  max-width: 830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--greys-light-grey, #646d70);
  z-index: 9999;
  transition: opacity 0.5s ease;
}

/*======= Main page styles =======*/
.page__hero {
}
.page__materials {
}
.page__innovation {
}
.page__advantages {
}

/*------------ hero ------------*/
.hero {
  padding-top: 186px;
  padding-bottom: 233px;
  background: url("../img/hero/hero.jpg") center / cover no-repeat,
    rgb(100, 109, 112);
}
@media (min-width: 1400px) {
  .hero {
    background: linear-gradient(
        90deg,
        rgba(100, 109, 112, 0) 0%,
        rgba(100, 109, 112, 0.6) 100%
      ),
      url("../img/hero/hero.jpg") center / cover no-repeat, rgb(100, 109, 112);
  }
}

.hero__wrapper {
  position: relative;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__main {
  padding-left: 55px;
}
.hero__title {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.hero__text {
  max-width: 440px;
}
.hero__video {
  border-radius: 10px;
  padding-left: 10px;
  transition: background-color 0.3s ease;
}
.popup-link {
  display: flex;
  align-items: center;
  min-height: 32px;
  padding: 15px 15px 15px 42px;
  background: url(../img/hero/Play.svg) left no-repeat;
  font-weight: 500;
  line-height: 1.2;
  color: var(--greys-white);
  white-space: nowrap;
  transition: opacity 0.3s ease;
}
@media (any-hover: hover) {
  .popup-link:hover {
    opacity: 0.3;
  }
  .hero__video:hover {
    background-color: hsl(195, 6%, 32%);
  }
}
.hero__social {
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  writing-mode: vertical-lr;
}
.social-links a {
  color: var(--greys-white);
}

.social-links a::before {
  display: none;
}

@media (max-width: 479.98px) {
  .social-links {
    gap: 20px;
    font-size: 20px;
    writing-mode: horizontal-tb;
  }
  .social-links a::before {
    display: block;
    color: var(--greys-white);
  }
  .footer__social .social-links a {
    color: transparent;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 991.98px) {
  .hero {
    padding-top: 130px;
    padding-bottom: 130px;
    min-height: 100vh;
    display: flex;
  }
  .hero__main {
    padding-left: 0;
  }
}
@media (max-width: 767.98px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 85px;
  }
  .hero__text {
    max-width: 340px;
  }
  .hero__video {
    border: 2px solid var(--greys-white);
  }
}
@media (max-width: 600px) {
  .hero__video {
    position: absolute;
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding-left: 10px;
    transition: background-color 0.3s ease;
  }
}
@media (max-width: 479.98px) {
  .hero__title {
    text-align: center;
  }
  .hero__text {
    max-width: 100%;
    text-align: center;
  }
}

/*------------ materials ------------*/
.materials {
}
.materials__bg {
}
.materials__container {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}
.materials__content {
}
.content-materials {
}
.content-materials__body {
  position: relative;
  z-index: 2;
  padding: 62px 100px;
  margin: -37px -41px -150px -100px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  background-color: var(--greys-white);
}
.content-materials__title {
  color: var(--color-dark-green, #222f33);
}
.content-materials__text {
  max-width: 400px;
  font-size: 14px;
  line-height: 185.714286%; /* 26/14 */
  color: var(--greys-light-grey, #646d70);
}
.content-materials__button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 4px;
  border: 1px solid var(--greys-light-grey, #646d70);
}
.materials__images {
  position: relative;
  z-index: 5;
  margin-top: -76px;
  margin-bottom: -66px;
  max-width: 325px;
  min-width: 0;
}
.materials__slider {
}
.materials__slide img {
  max-width: 100%;
}
.materials__pagination.swiper-pagination-bullets {
  bottom: 14px;
}
.materials__pagination .swiper-pagination-bullet {
  background-color: var(--greys-white);
  opacity: 0.5;
}
.materials__pagination .swiper-pagination-bullet-active {
  background-color: var(--greys-white);
  opacity: 1;
}

@media (max-width: 991.98px) {
  .materials__container {
    align-items: center;
    gap: 15px;
  }
  .content-materials__body {
    margin: 0;
    padding: 15px 0;
    min-width: 300px;
  }
  .materials__images {
    margin: 15px 0;
  }
}
@media (max-width: 600px) {
  .materials__container {
    flex-direction: column;
    gap: 0;
  }
  .content-materials__body {
    min-width: 0;
    padding: 30px 0;
  }
  .content-materials__text {
    max-width: none;
  }
  .materials__images {
    margin: 0;
  }
}
@media (max-width: 479.98px) {
  .materials__images {
    max-width: 100vw;
  }
  .materials__slide img {
    width: 100%;
  }
}

/*------------ innovation ------------*/
.innovation {
  padding-top: 210px;
  padding-bottom: 73px;
  background-color: var(--color-dark-green);
}
.innovation__container {
  columns: 2 250px;
  column-gap: 43px;
}
.innovation__title {
  margin-bottom: 8px;
  column-span: all;
}
.innovation__content {
}
.innovation__column {
}
.innovation__text {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 171.428571%; /* 24/14 */
}
@media (max-width: 991.98px) {
  .innovation {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/*------------ advantages ------------*/
.advantages {
  padding-top: 85px;
  padding-bottom: 85px;
}
.advantages__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px;
}
.advantages__image {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.advantages__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.advantages__content {
  min-height: 362px;
  display: flex;
  justify-content: space-between;
}
.advantages__column {
  display: flex;
  flex-direction: column;
  gap: 37px;
  max-width: 155px;
}
.advantages__block {
}
.advantages__title {
  margin-bottom: 4px;
  font-family: Merriweather, serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  color: var(--color-dark-green, #222f33);
}
.advantages__text {
  line-height: 183.333333%; /* 22/12 */
  color: var(--greys-light-grey, #646d70);
}
@media (max-width: 767.98px) {
  .advantages {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .advantages__container {
    gap: 0;
  }
  .advantages__column {
    margin-left: 15px;
    gap: 15px;
    max-width: none;
  }
}
@media (max-width: 600px) {
  .advantages__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  .advantages__image {
    grid-area: 2 / 1 / 3 / 2;
  }
  .advantages__content {
    min-height: auto;
    grid-area: 1 / 1 / 2 / 2;
  }
  .advantages__column {
    margin-left: 0;
    max-width: 250px;
  }
  .advantages__column:not(:first-child) {
    margin-left: 25px;
  }
}
@media (max-width: 479.98px) {
  .advantages__image {
    width: calc(100% + 30px);
    left: -15px;
  }
  .advantages {
    padding-bottom: 0;
  }
}
